<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Enroll MFA</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <style type="text/css">
      .form-style{
            font-family: proxima nova,montserrat,Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    background-color: #f9f9f9;
    color: #777;
    position: relative;
    overflow: auto;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    height: auto;
    margin: 100px auto 8px;
    width: 400px;
    min-width: 300px;
    }



    </style>
</head>
<body style="
    background-image: url(https://op3static.oktacdn.com/fs/bco/7/fs01p928z8JbGyT661d7);
">
<div class="container text-center">
    <div class="form-style">
        <h1><img src="https://op3static.oktacdn.com/fs/bco/1/fs01p92eoxYfRbgr81d7" class="auth-org-logo"
                 alt="c1b logo logo" aria-label="c1b logo logo"></h1>
        <div>
            <h3>Enroll for MFA</h3>
        </div>

        <div class="m-3" style="max-width: 600px; margin: 0 auto;">

            <div align="center">
                <button th:onclick="|window.location.href='/enroll_email'|" class="btn btn-primary">Email</button>
                <button th:onclick="|window.location.href='/enroll_sms'|" class="btn btn-primary">SMS</button>
            </div>


            <div align="center">
                <button th:onclick="|window.location.href='/enroll_all'|" class="btn btn-primary">Both</button>

            </div>

        </div>

    </div>

</div>

</body>
</html>